<!DOCTYPE html>

<html>
	<head>
		<title>首页~我的beego博客</title>
		<link rel="shortcut icon" href="/static/img/favicon.png" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
					<a class="navbar-brand" href="/">我的博客</a>	
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">首页</a></li>
						<li><a href="/category">分类</a></li>
						<li><a href="/topic">文章</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			
		</div>
		<div class="container">
			<div class="page-header">
				<h1>我第一篇博客</h1>
				<h6 class="text-muted">作者:莫一兮 文章发表于2017年06月19日 19:39, 共1000次浏览，532个评论</h6>
				<p>
					大家好，这我的第一篇博客，多谢观看
				</p>
			</div>
		</div>
	</body>
</html>
